

/* .sponsors {
    width: fit-content;
    position: relative;
}


.sponsors ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sponsors ul li {
        display: inline-block;
        width: 20%;
    }

    .sponsors ul li .SponserImage {
       max-height:50px ;
    }
  
    .sponsors ul li img {
      max-height:50px ;
   }
 
  @media screen and (min-width: 20em) {
    
    .sponsors ul li {
      width: 33.33333%;
    }
    
  } */

  /* .sponsorsContainer .SponserImage
  {

    max-height: 200px;
    position: relative;

  } */